body {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
main {
    padding: 40px 20px;
    text-align: center;
  }

body, html {
  margin: 0;
  padding: 0;
}

  header {
    background-color: #6a9bd8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    color: white;
  }

  h1 {
    color: #000000;
    font-weight: bold;
  }
  
  p {
    margin-bottom: 0.4rem;
  }
  
  .card {
    border: none;
    border-radius: 16px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.07);
    overflow: hidden;
  }
  
  .card-header {
    background-color: #6a9bd8;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .card-body {
    font-size: 0.95rem;
  }
  
  .card-footer {
    background-color: #fff8f2;
    border-top: 1px solid #ffe1c7;
  }
  
  .badge {
    font-size: 0.8rem;
    margin-right: 5px;
    padding: 0.4em 0.6em;
  }
  
  .btn-primary {
    background-color: #6a9bd8;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #586779;
  }
  
  .btn-secondary {
    background-color: #c2c2c2;
    border: none;
  }
  
  .form-select {
    border-radius: 8px;
  }
  
  .card-img-top {
    border-radius: 0;
  }
  
  /* Animação de fundo */
  .topo-site {
    background-color: #6a9bd8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px;
    color: white;
  }
  
  .logo {
    width: 80px;
   
  }
  
  .nav-link {
    padding: 0 12px;
    font-size: 15px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
 .cartao-boas-vindas {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  max-width: 700px;
  margin: 40px auto 20px;
  text-align: center;
}

.cartao-boas-vindas h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.cartao-boas-vindas p {
  font-size: 18px;
  color: #555;
}

